
@{
    ViewBag.Title = "IndexUpdateCategoria";
    Layout = "~/Views/Shared/_LayoutAdminLTE.cshtml";
}

<h2>Actualizar Categoria</h2>

<span>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</span>
<br />
<br />

<div class="text-left">

    @Html.ActionLink("Actualizar Categoria", "Index", "Categorias", new { @class = "glyphicon glyphicon-edit" }, null)

</div>

